fastapi
uvicorn
sqlmodel
python-multipart
pypdf
google-generativeai
python-dotenv
pytest
httpx
pytest-asyncio
fastmcp
mcp
pydantic-ai
nest-asyncio
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
pytest-cov
